#gacha-banner {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--menu-color);
    justify-content: center;
    flex-direction: row;
    overflow: auto;
}
#gacha-banner .listing {
    display: flex;
    padding: 1rem;
    width: 9rem;
    border-right: 1px solid var(--bg-color);
    flex-direction: column;
    overflow: scroll;
}
#gacha-banner .content {
    display: flex;
    width: calc(100vw - 8rem);
    justify-content: center;
    align-items: center;
}
#gacha-banner img {
    margin: .5rem auto;
    max-width: 90%;
    max-height: 60%;
}
#gacha-banner button {
    margin: .5rem auto;
    padding: 1rem 2rem;
    background-color: var(--btn-color);
    color: var(--fg-color);
    border: none;
    border-radius: 2rem;
    transition: .2s;
}
#gacha-banner .banner-btn {
    /* margin: auto; */
    width: 8rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
}
#gacha-roll-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
#gacha-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#gacha-banner button:focus,
#gacha-banner button:hover {
    transform: scale(1.1);
}
#gacha-animation {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    justify-content: center;
    overflow: hidden;
}
#gacha-animation img {
    position: absolute;
    height: 100vh;
}
#gacha-animation p {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    padding: 1rem 2rem;
    background: var(--menu-color);
    border-radius: 2rem;
    font-weight: 700;
    font-size: 2rem;
}
#gacha-animation button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem 2rem;
    background-color: var(--btn-color);
    color: var(--fg-color);
    border: none;
    border-radius: 2rem;
}