/* GENERAL */
html,
body,
main {
    height: 100%;
}
html {
    width: 100%;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
    color: var(--fg-color);
}
a,
a:visited {
    color: var(--link-color);
}
.background {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--bg-icon) repeat center/25%;
    opacity: .3;
    z-index: -1;
}

/* BUTTON */
button {
    cursor: pointer;
}
.button-group {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}
.float-bottom-right {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    padding: .75rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 .5rem 0 #0005;
    background: var(--btn-color);
    transition: .2s;
}
.float-bottom-right:focus,
.float-bottom-right:hover {
    transform: scale(1.125);
}
.exit-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    transition: .2s;
}
.exit-menu:focus,
.exit-menu:hover {
    background: #0002;
}
.grid button {
    position: relative;
    min-height: 8rem;
    border: none;
    transition: .2s;
}
.grid button:focus,
.grid button:hover {
    box-shadow: 0 0 .5rem 0 #0005;
}
.grid button:active {
    box-shadow: 0 0 .5rem 0 #0005 inset;
}
#member-grid button {
    background: var(--bg-color);
}
.grid button .background {
    z-index: auto;
}

/* CHARACTER */
.member-card {
    margin: auto;
    padding: 5vh;
    display: flex;
    width: 40%;
    min-width: 40vh;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#full-illust {
    max-width: 100vw;
    max-height: 90vh;
}
.tap-head,
.tap-chest {
    position: absolute;
    background: none;
    border: none;
}
.tap-head:focus,
.tap-chest:focus {
    outline: 0;
}
.tap-head {
    top: 5vh;
    width: 20vh;
    height: 25vh;
}
.tap-chest {
    top: 30vh;
    width: 30vh;
    height: 60vh;
}

/* MENU */
.menu {
    display: none;
}
.active {
    display: block;
}
.panel {
    position: fixed;
    padding: 2rem;
    width: 100vw;
    max-height: 100vh;
    bottom: 0;
    background: var(--menu-color);
    box-sizing: border-box;
    backdrop-filter: blur(.25rem);
    -webkit-backdrop-filter: blur(.25rem);
}
.panel h2:first-of-type {
    margin-top: 0;
}
.panel-content {
    max-height: calc(100vh - 6rem);
    overflow: scroll;
}

/* Settings Menu */
#source-link {
    text-decoration: none;
}
#source-link:focus,
#source-link:hover {
    text-decoration: underline;
}

/* Select Menu */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-gap: 1rem;
}
.grid img {
    position: relative;
    max-width: 8rem;
    max-height: 8rem;
}

/* INPUT */
select,
input[type="number"] {
    padding: .25rem .5rem;
    background: var(--btn-color);
    color: var(--fg-color);
    border: none;
    border-radius: .25rem;
}
select {
    overflow: auto;
}

/* Audio Input */
#audio {
    vertical-align: middle;
}
#audio-value {
    width: 2.5rem;
}