body {
    margin: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
button {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

.exit-menu {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}
.exit-menu:focus,
.exit-menu:hover {
    background: #0003;
}

#game {
    margin: 0;
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 18vmin;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
#timer-text {
    position: fixed;
    margin: .25rem;
    padding: .5rem;
    background-color: #111;
    color: #fff;
    border-radius: .5rem;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18vmin;
    justify-items: center;
}
.tile {
    width: 18vmin;
    height: 18vmin;
    background: #8df;
    border-radius: 50%;
    box-shadow: 0 .25rem .5rem 0 inset;
    clip-path: circle(9vmin at center);
    cursor: crosshair;
}
.tile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 .125rem .125rem);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal button {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    min-width: 10rem;
    background-color: #8df;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
.modal button:focus,
.modal button:hover {
    background-color: #baf8ff;
}
.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: 5vh auto;
    padding: 5vh 5vw;
    width: 80vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}